<div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 espacion">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../../assets/wowcronicas1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">World of Warcraft: Crónicas Vol. 1</h5>
                <p class="card-text">Este Volumen comienza con la creación de todo. Relata historias sobre el nacimiento del cosmos.
                  </p>
                <a href ="../../../assets/WorldofWarcraftCrónicas-Vol1.pdf" class="btn btn-primary" target="_blank">Descargar</a>
              </div>
            </div>
      </div>
      <div class="col-sm-6 col-md-4 espacion">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../../assets/wowcronicas2.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">World of Warcraft: Crónicas Vol. 2</h5>
                <p class="card-text"> Este Volumen ahonda en los orígenes de la antigua Draenor, y la creación de la primera Horda.</p>
                <a href="../../../assets/WorldofWarcraftCronicas-Vol2.pdf" class="btn btn-primary" target="_blank">Descargar</a>
              </div>
            </div>
      </div>
  
      <div class="col-sm-6 col-md-4 espacion">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../../assets/wowcronicas3.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">World of Warcraft: Crónicas Vol. 3</h5>
                <p class="card-text">Este Volumen se centra en los eventos que marcaron la historia moderna de Azeroth.</p>
                <a href="../../../assets/WorldofWarcraftCrónicas-Vol3.pdf" class="btn btn-primary" target="_blank">Descargar</a>
              </div>
            </div>
      </div>
  
      <div class="col-sm-6 col-md-4 espacion">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../../assets/metallica.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>
      <div class="col-sm-6 col-md-4 espacion">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../../assets/metallica.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>
  
      <div class="col-sm-6 col-md-4 espacion">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../../assets/metallica.jpg"alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>
    </div>
  </div>
  
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  
  <!-- Footer -->
  <footer class="page-footer font-small " style="background-color:rgb(236, 236, 236)">
  
      <div style="background-color: #e6e6e6;">
        <div class="container">
  
          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">
  
            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h6 class="mb-0">Get connected with us!</h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">
  
              <!-- Facebook -->
              <a class="fb-ic">
                <i class="fa fa-facebook white-text mr-4"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fa fa-twitter white-text mr-4"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic">
                <i class="fa fa-google-plus white-text mr-4"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic">
                <i class="fa fa-linkedin white-text mr-4"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic">
                <i class="fa fa-instagram white-text"> </i>
              </a>
  
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row-->
  
        </div>
      </div>
  
      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">
  
        <!-- Grid row -->
        <div class="row mt-3">
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Utepsa</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <font size="2.5">
            <p>Universidad referente y reconocida por su calidad académica, 
              investigación y compromiso con la comunidad, 
              en la formación de profesionales íntegros, emprendedores e innovadores, 
              según parámetros y normativas nacionales e internacionales.</p>
            </font>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <!--<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4"> -->
  
              <!-- Links -->
              <!-- <h6 class="text-uppercase font-weight-bold">Productos</h6>  -->
              <!-- <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
              <!-- <p> -->
                <!-- <a href="#!">MDBootstrap</a> -->
              <!-- </p> -->
              <!-- <p> -->
                <!-- <a href="#!">MDWordPress</a> -->
              <!-- </p> -->
             <!--  <p> -->
               <!--  <a href="#!">BrandFlow</a> -->
             <!--  </p> -->
              <!-- <p> -->
                <!-- <a href="#!">Bootstrap Angular</a> -->
              <!-- </p> -->
    
            <!-- </div> -->
            <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Sitios Utiles</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="http://www.utepsa.edu/v2/index.php?option=com_content&view=article&id=35&Itemid=100">Conozcanos</a>
            </p>
            <p>
              <a href="http://www.utepsa.edu/v2/index.php?option=com_content&view=article&id=91&Itemid=13">Carreras Ofertadas</a>
            </p>
            <p>
              <a href="http://www.utepsa.edu/v2/index.php?option=com_content&view=article&id=78&Itemid=46">Postgrado</a>
            </p>
            <p>
              <a href="http://www.utepsa.edu/v2/index.php?option=com_content&view=article&id=49&Itemid=117">Vivencia Universitaria</a>
            </p>
  
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contacto</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fa fa-home mr-3"></i> 3er Anillo Interno Nº 715</p>
            <p>
              <i class="fa fa-envelope mr-3"></i> informaciones@utepsa.edu</p>
            <p>
              <i class="fa fa-phone mr-3"></i> Telf:(591-3)363-9000</p>
            <p>
              <i class="fa fa-print mr-3"></i> FAX:(591-3)363-9278</p>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Footer Links -->
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="background-color:rgb(228, 228, 228)">© 2018 Copyright:
        <a href="http://www.utepsa.edu/v2/"> UTEPSA</a>
      </div>
      <!-- Copyright -->
  
    </footer>
    <!-- Footer -->