<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://www.utepsa.edu/v2/"><img alt="Brand" src="../assets/logoutepsa1.png" width="120"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item puntero" *ngIf="login.logeado">
          <a class="nav-link" (click)="login.logout()">Logout</a>
        </li>
        <li class="nav-item puntero" *ngIf="!login.logeado">
          <a class="nav-link" [routerLink]="['/login']" >Login</a>
        </li>
      </ul>
      <form class="form-inline margen">
        <button class="btn btn-sm btn-outline-secondary" disabled type="button">{{ login.username }}</button>
      </form>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" href="#">Search</button>
      </form>
    </div>
  </nav>

    
  <div class="jumbotron">
    <h3 class="display-5">Biblioteca Virtual</h3>
    <p class="lead">Aqui encontrarás todos tipo de libros de los cuales podras disfrutar.</p>
  </div>
<router-outlet></router-outlet>