<div class="container">
  <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="Login()">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <h2>Porfavor ingrese su cuenta</h2>
              <hr>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="form-group has-danger">
                  <label class="sr-only" for="email">Codigo de registro</label>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon" style="width: 2.6rem"><i class="far fa-envelope"></i></div>
                      <input type="text" formControlName="registro" name="email" class="form-control" id="registro"
                             placeholder="Codigo de registro" required autofocus>
                  </div>
              </div>
          </div>  
      </div>
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="form-group">
                  <label class="sr-only" for="password">carnet</label>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-key"></i></div>
                      <input type="password" formControlName="ci" name="password" class="form-control" id="carnet"
                             placeholder="Ingresa tu contraseña" required>
                  </div>
              </div>
          </div>
      </div>
      <div class="row" style="padding-top: 1rem" >
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <button type="submit" class="btn btn-success" style="background-color:dodgerblue"><i class="fas fa-sign-in-alt"></i> Login</button>
          </div>
      </div>
  </form>
</div>